.show-grid {
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #eee;
	background-color: rgba(86, 61, 124, .15);
	border: 1px solid #ddd;
	border: 1px solid rgba(86, 61, 124, .2);
}

body {
	background-image: url('http://seamlesspatternchecker.com/hash/seamless-pattern-samples/a/3/5/a35-vector-vector-seamless-simple-pattern-curtain-design-modern-stylish-texture-repeating-abstract-158117696.jpg');
}

.navbar {
	border: none;
	border-radius: 0;
	background-color: rgba(0, 0, 0, 0.5);
}


/* Extra small devices (phones, less than 768px) */


/* No media query since this is the default in Bootstrap */


/* Small devices (tablets, 768px and up) */

@media (min-width: @screen-sm-min) {
	...
}


/* Medium devices (desktops, 992px and up) */

@media (min-width: @screen-md-min) {
	...
}


/* Large devices (large desktops, 1200px and up) */

@media (min-width: @screen-lg-min) {
	...
}